workflows/audio uploaded to firebase.json
{
  "active": true,
  "connections": {
    "Shopify": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "encodeOrderNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encodeOrderNumber": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-17T02:46:54.332Z",
  "id": "kNEINPrtmQNTZajr",
  "meta": null,
  "name": "audio uploaded to firebase",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "ef6cf024-aa3e-4027-a9e4-1a21f3456b0d",
      "name": "Shopify",
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        2060,
        560
      ],
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "zKYJyGyRGR4R2Vmm",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fa0d421b-4c03-41a4-82c0-d2577c9caeac",
              "leftValue": "={{ $json.order_number.toString() }}",
              "rightValue": "={{ $('Webhook').item.json.body.order }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3493479-8fc5-4e36-a382-1da2173bf684",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2260,
        560
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.contact_email }}",
        "subject": "We have received your Recording!",
        "bodyContent": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Wedding Audio Greeting</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f0f0f0;\n            padding-bottom: 1rem;\n        }\n\n        .container {\n            max-width: 600px;\n            margin: 20px auto;\n            padding: 20px;\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n\n        .banner {\n            background-color: #123740;\n            text-align: center;\n            padding: 10px 0;\n            border-radius: 8px 8px 0 0; \n        }\n\n        .banner h2 {\n            color: #ffffff;\n            margin: 0;\n        }\n\n        h3 {\n            color: #123740;\n        }\n\n        p {\n            color: #333333;\n            line-height: 1.6;\n        }\n\n        a {\n            color: #006400;\n            text-decoration: none;\n        }\n\n        a:hover {\n            text-decoration: underline;\n        }\n\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            background-color: #123740;\n            color: #ffffff;\n            text-decoration: none;\n            margin-bottom: 15px;\n            border-radius: 5px;\n            transition: background-color 0.2s ease; /* Add smooth color transition on hover */\n        }\n        .button:hover {\n            background-color: #0c2227; /* Darker green on hover */\n        }\n\n        .message-examples {\n            margin-top: 20px;\n            color: #555555;\n        }\n\n\n        .signature {\n            margin-top: 40px;\n            text-align: right;\n        }\n        \n        .test {\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            justify-content: flex-end; /* Align content to the right */\n        }\n\n        .signature p {\n            font-size: 14px;\n            color: #333333;\n            line-height: 0;\n        }\n\n        .signature span {\n            display: inline-block;\n            margin-right: 10px;\n        }\n\n        .signature img {\n            height: 20px;\n            width: auto;\n            padding-bottom: 4px;\n            padding-right: 4px;\n        }\n        \n        .record-button-div {\n            display: flex;\n            justify-content: center;\n        }\n\n    </style>\n</head>\n<body>\n    <div class=\"banner\">\n        <h2>Voice Keepsakes</h2>\n<img src=\"https://i.ibb.co/87kzVTK/test.png\">\n\n    </div>\n    <div class=\"container\">\n        <h3>Hey {{ $('Shopify').item.json.customer.first_name }} 👋,</h3>\n        <p>We have recived your recording! If you wish to listen to or change the recording please do so at the following link</p>\n        <div class=\"record-button-div\"><a href=\"https://voice-recorder-53502.web.app/?orderId={{ $json.encoded }}\" target=\"_blank\" class=\"button\">Update Your Message</a></div>\n\n        <p>Just reply to this email if you need any help or have any questions 😄</p>\n        <div class=\"signature\">\n            <p>\n                <span>Kind regards,</span>\n            </p>\n                <p><span>Voice Keepsakes</span></p>\n        </div>\n    </div>\n</body>\n\n</html> ",
        "additionalFields": {
          "bccRecipients": "wade@voicekeepsakes.com.au",
          "bodyContentType": "html"
        }
      },
      "id": "0b5fd3c4-d515-4d55-b2f5-2ee4622165fc",
      "name": "Microsoft Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2700,
        560
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "kk1sPj8USL1RL0GY",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "triggered on firebase function\n\nit will look in the firestore DB and check if there are any new recordings. if there is send an email saying thank you for recording. To sdo this we need to get extra information from shopify e.g. (email/order number)",
        "height": 189.22267441860467,
        "width": 390
      },
      "id": "0b3ae8e2-fcde-4fd7-ab01-b7ba86ff2ca5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "content": "TODO:\n- the updated and created fields are always the same and when you update an audio file it doesn;t update the firestore updatedAt field (i assume because i was testing this with the same audio upload??)\n\n- there should be two different emails. one for the inital thanks for uploading and one for the thanks for updating the voice message.",
        "height": 273,
        "width": 723
      },
      "id": "e566b3bb-6795-4607-a17f-afa17b73c20c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2060,
        160
      ]
    },
    {
      "parameters": {
        "content": "using a simple firebase deploy function to call this webhook https://github.com/hewey159/firebase-functions-audio-uploaded\n\nwe could extend it to actually get the data in the webhook but it's just as easy to get the one",
        "height": 98.10772833723645,
        "width": 292.25058548009343,
        "color": 4
      },
      "id": "f9255125-182e-402a-ab5b-d7e8d8d6a693",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "46f9bbdc-35a4-4815-8873-ad6c8cb46a5c",
        "options": {}
      },
      "id": "b8dbd69a-aad7-4ff2-967c-c5a4fdf7dd2a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        560
      ],
      "webhookId": "46f9bbdc-35a4-4815-8873-ad6c8cb46a5c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nfunction base64Encode(str) {\n  const buffer = Buffer.from(str, 'utf-8');\n  return buffer.toString('base64');\n}\n$input.item.json.encoded = base64Encode($('Shopify').item.json.order_number.toString())\nreturn $input.item;"
      },
      "id": "184d489c-eb3f-4abb-a319-346fb6249156",
      "name": "encodeOrderNumber",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        560
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "accept-encoding": "gzip",
            "x-forwarded-for": "2600:1900:2000:a6::1:1500, 172.70.179.71",
            "cf-ray": "849de718185a639e-ORD",
            "x-forwarded-proto": "https",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "cf-connecting-ip": "2600:1900:2000:a6::1:1500",
            "cdn-loop": "cloudflare",
            "cf-ipcountry": "US",
            "x-forwarded-host": "automation.voicekeepsakes.com.au",
            "x-forwarded-server": "127.0.0.1",
            "content-length": "147",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {},
          "body": {
            "bucket": "voice-recorder-53502.appspot.com",
            "path": "recordings/1010.wav",
            "orderNumberEncoded": "MTAxMA==",
            "order": "1011",
            "updatedAt": 1705990529475
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Adelaide",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "6do80UIdKHGFUpAo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-19T06:29:17.907Z",
      "updatedAt": "2024-01-19T06:29:17.907Z",
      "id": "9Wlg3x6juVGk3V4C",
      "name": "triggered"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-03-17T05:18:25.000Z",
  "versionId": "70cb783e-862e-4915-9d33-e8d38a4e5d8c"
}