workflows/aust post data.json
{
  "active": true,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-18T10:59:53.631Z",
  "id": "zWWt7qh0vh8asVSN",
  "meta": null,
  "name": "aust post data",
  "nodes": [
    {
      "parameters": {
        "url": "https://auspost.com.au/mypost/beta/track/static/js/main.2485e51e.js",
        "options": {}
      },
      "id": "d3cdbdb8-c66e-4e75-9efa-d44092535547",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        360
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "apiKey",
              "stringValue": "={{  $json.data.match(/REACT_APP_API_SHIPMENT_GATEWAY:\\s*\"(.*?)\"/)[1] }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "92713f9b-fc47-4635-8dcc-da4ffb9f0f26",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1760,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://digitalapi.auspost.com.au/shipmentsgatewayapi/watchlist/shipments/{{ $json.trackingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Accept-Language",
              "value": "en-AU,en-GB;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Host",
              "value": "digitalapi.auspost.com.au"
            },
            {
              "name": "Origin",
              "value": "https://auspost.com.au"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Referer",
              "value": "https://auspost.com.au/"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "api-key",
              "value": "={{ $json['apiKey'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a788023-21f6-4a24-ba9b-35d9a2eda4bf",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2760,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\n$input.item.json.result = $input.item.json.trackingIds.map((trackingId) => ({\n  trackingId,\n  apiKey: $input.item.json.apiKey,\n  orderNumber: $input.item.json.orderNumber\n}))\nreturn $input.item;"
      },
      "id": "76fcc8a8-6827-4c39-a6ce-ad1642271f65",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        420
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "id": "ba066fa9-a746-4873-aa98-0442016505b4",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2540,
        420
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "b631006d-2180-418c-92a3-4f4eff40a57d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1140,
        460
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Status",
              "stringValue": "={{ $json.articles[0].status.statusAttributeValue }}"
            },
            {
              "name": "Tracking Number",
              "stringValue": "={{ $('Split Out').item.json.trackingId }}"
            },
            {
              "name": "orderNumber",
              "stringValue": "={{ $('Split Out').item.json.orderNumber }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "0387c175-6448-4aed-9d6f-81efaafb1493",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2980,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "df811865-db89-4a00-94ce-486e015a3363",
      "name": "Shopify",
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        1480,
        540
      ],
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "zKYJyGyRGR4R2Vmm",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "trackingIds",
              "type": "arrayValue",
              "arrayValue": "={{ $json.fulfillments[0].tracking_numbers }}"
            },
            {
              "name": "orderNumber",
              "stringValue": "={{ $json.order_number }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "fe837b1c-10e7-4922-b8cd-c077fdbb09bd",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1760,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c9c29888-8697-40b8-9a12-d324dc22e2c7",
              "leftValue": "={{ $json.trackingIds }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70fc089e-b953-4544-acc1-1cfe6456f32f",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1940,
        540
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "bed8b2d1-c975-48b7-88b7-4724cc0e8db4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2180,
        420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-19T06:29:12.584Z",
      "updatedAt": "2024-01-19T06:29:12.584Z",
      "id": "gCNcHFCa5bC8SDJy",
      "name": "scheduled"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-23T01:42:27.000Z",
  "versionId": "a12ad829-300c-4586-b43a-0a512731b826"
}