workflows/Chloe birthday emails.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-30T23:32:19.872Z",
  "id": "JesGaFSFLfcYTkvh",
  "meta": null,
  "name": "Chloe birthday emails",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "id": "5f7544d7-aefe-4189-b3ff-9525cc34f690",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1440,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function checkDate(inputDate) {\n    if(inputDate === null){\n      return false\n    }\n    // Get today's date in UTC\n    var todayUTC = new Date();\n    $input.item.json.test = todayUTC.getTime();\n    // Convert UTC to Adelaide time\n    var adelaideTimeOffset = 10.5 * 60 * 60 * 1000; // Adelaide time offset in milliseconds (10.5 hours ahead of UTC)\n    $input.item.json.adelaideOffset = adelaideTimeOffset\n    var adelaideTime = new Date(todayUTC.getTime() + adelaideTimeOffset);\n  \n    // Format Adelaide date\n    var dd = String(adelaideTime.getUTCDate());\n    var mm = String(adelaideTime.getUTCMonth()+1);//dates arre zero  indexed\n\n  \n    const inputSplit = inputDate.split(\"-\");\n    $input.item.json.dd = dd\n    $input.item.json.mm = mm\n    $input.item.json.split_dd = parseInt(inputSplit[inputSplit.length - 1])\n    $input.item.json.split_mm = parseInt(inputSplit[inputSplit.length - 2])\n    \n    // Check if input date matches Adelaide's date\n    if (parseInt(inputSplit[inputSplit.length - 1]) === parseInt(dd) && parseInt(inputSplit[inputSplit.length - 2]) === parseInt(mm)) {\n        return true;\n    } else {\n        return false;\n    }\n}\n\n$input.item.json.isBirthday = checkDate($input.item.json.data.birthdate);\n// $input.item.json.isBirthday = $input.item.json.data.birthdate ;\nreturn $input.item;\n"
      },
      "id": "dcb8efab-ec0f-46d1-ade9-30a1dfdbd23e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d747024a-9dfe-4bf8-8910-73008e8fa8d5",
              "leftValue": "={{ $json.isBirthday }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec337095-64e2-4660-8a74-e72a346d05a2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2840,
        600
      ]
    },
    {
      "parameters": {
        "toRecipients": "chloe@lbsupport.com.au",
        "subject": "=Its {{ $json.data.firstname }}  {{ $json.data.lastname }}'s birthday",
        "bodyContent": "=congrats on your birthday  ",
        "additionalFields": {}
      },
      "id": "80e4009d-6dbe-4237-9ffa-e1e5cf80aedf",
      "name": "Microsoft Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3060,
        600
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "n0YR7IN5gCyziEDy",
          "name": "Chloe lb support"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.splose.com/v1/patients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2ZYIfpLAVVmXEyJ60c4U7-7rcA98ctK9UH5ICeNlHJrZ5hKdG4HCOc6FITC9IbjqKaUq2j0m2YHglJK_p5Vxkg.EOfQZQF55wse8xYOfOTyLuLHIm7wM-VFVe6DnSlaxJU"
            }
          ]
        },
        "options": {}
      },
      "id": "e68ae707-877c-4dff-8cc6-214e0a52ea8e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1860,
        600
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "22e12961-2572-406c-8da1-13a053a54bac",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2300,
        600
      ]
    }
  ],
  "pinData": {
    "Split Out": [
      {
        "json": {
          "links": {},
          "data": {
            "id": 684719,
            "firstname": "Sarah",
            "lastname": "Armstrong",
            "middleName": null,
            "preferredName": "",
            "title": "Miss",
            "email": null,
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She/her",
            "alert": null,
            "birthdate": "1985-06-11",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430639788",
            "addressL1": "10/74 Douglas Dr",
            "addressL2": null,
            "addressL3": null,
            "city": "Munno Para",
            "state": "SA",
            "postalCode": "5115",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0466463726"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430639788",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "rmrayner87@yahoo.com.au",
            "emergencyContactName": "Rebecca Rayner",
            "emergencyContactRelationship": "Foster Sister",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-02-15T23:40:03.000Z",
            "updatedAt": "2023-08-09T00:28:46.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 687334,
            "firstname": "Brenton",
            "lastname": "Fitzpatrick",
            "middleName": null,
            "preferredName": "",
            "title": "Mr",
            "email": "brentonfitzpatrick@gmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he/him",
            "alert": null,
            "birthdate": "1962-12-28",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430597148",
            "addressL1": "5/296 Fullarton Road",
            "addressL2": null,
            "addressL3": null,
            "city": "Fullarton",
            "state": "SA",
            "postalCode": "5063",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0432256925"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430597148",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0409283993",
            "emergencyContactName": "Ann Rymil",
            "emergencyContactRelationship": "Friend",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-02-20T03:42:28.000Z",
            "updatedAt": "2023-02-21T01:30:53.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 793975,
            "firstname": "Scott",
            "lastname": "Houston",
            "middleName": null,
            "preferredName": "Scott",
            "title": "Mr",
            "email": "scotthouston087@gmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he/him",
            "alert": null,
            "birthdate": "1972-07-16",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430542396",
            "addressL1": "41 Vincent Rd",
            "addressL2": null,
            "addressL3": null,
            "city": "Smithfield Plains",
            "state": "SA",
            "postalCode": "5114",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0412285193"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430542396",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0412289000",
            "emergencyContactName": "Robyn houston",
            "emergencyContactRelationship": "Mother",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-04-17T02:55:50.000Z",
            "updatedAt": "2024-05-02T08:08:53.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 901809,
            "firstname": "Kerry",
            "lastname": "Colwill",
            "middleName": null,
            "preferredName": "Kerry",
            "title": "Ms",
            "email": null,
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She/her",
            "alert": null,
            "birthdate": "1962-01-12",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430596945",
            "addressL1": "92 Robert St",
            "addressL2": null,
            "addressL3": null,
            "city": "West Croydon",
            "state": "SA",
            "postalCode": "5008",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Home",
                "code": "+61",
                "phoneNumber": "0402914492"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430596945",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "08 8340 2851",
            "emergencyContactName": "Onecare West Croydon",
            "emergencyContactRelationship": "SRF Accommodation",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-05-08T01:41:02.000Z",
            "updatedAt": "2024-05-07T03:57:17.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 910934,
            "firstname": "Jayda",
            "lastname": "Liddle",
            "middleName": null,
            "preferredName": null,
            "title": "Miss",
            "email": "jm_smith2016@outlook.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She/her",
            "alert": null,
            "birthdate": "2010-06-08",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431732507",
            "addressL1": "18 Elly Dr",
            "addressL2": null,
            "addressL3": null,
            "city": "Munno Para West",
            "state": "SA",
            "postalCode": "5115",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0408520520"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431732507",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0408520520",
            "emergencyContactName": "Jynaya Smith",
            "emergencyContactRelationship": "Mother",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-05-22T06:57:46.000Z",
            "updatedAt": "2024-01-19T03:45:33.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 1968808,
            "firstname": "Ben",
            "lastname": "Powell",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": "powellben70@gmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he/him",
            "alert": null,
            "birthdate": "1977-04-29",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430580645",
            "addressL1": "10 Butterfield Rd",
            "addressL2": null,
            "addressL3": null,
            "city": "Elizabeth Park",
            "state": "SA",
            "postalCode": "5113",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0434708961"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430580645",
            "medicareNum": "2493266516",
            "irn": "1",
            "veteransFileNumber": null,
            "emergencyContactNumber": "0427954182",
            "emergencyContactName": "Allan Campbell",
            "emergencyContactRelationship": "Step Father",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-05-31T00:32:44.000Z",
            "updatedAt": "2024-05-16T01:02:46.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 1980927,
            "firstname": "Quang",
            "lastname": "Tran",
            "middleName": null,
            "preferredName": "Kym",
            "title": "Mr",
            "email": null,
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he/him",
            "alert": null,
            "birthdate": "1957-07-08",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431981542",
            "addressL1": "7 Yellow Gum Ave",
            "addressL2": null,
            "addressL3": null,
            "city": "Athol Park",
            "state": "SA",
            "postalCode": "5012",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0482013463"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431981542",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0450152616",
            "emergencyContactName": "Danny",
            "emergencyContactRelationship": "Support Worker",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-06-05T05:50:29.000Z",
            "updatedAt": "2024-01-19T04:11:18.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2159606,
            "firstname": "John",
            "lastname": "Parrish",
            "middleName": null,
            "preferredName": "John",
            "title": "Mr",
            "email": "roseparrish5@gmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he / him",
            "alert": null,
            "birthdate": "1965-03-13",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431570192",
            "addressL1": "20 Tallering Ave",
            "addressL2": null,
            "addressL3": null,
            "city": "Pooraka",
            "state": "SA",
            "postalCode": "5095",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "450798812"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431570192",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0450798812",
            "emergencyContactName": "Rosemarie Parrish",
            "emergencyContactRelationship": "Wife / Plan Nominee",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-08-04T02:52:26.000Z",
            "updatedAt": "2024-01-04T00:52:03.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2171639,
            "firstname": "Deborah",
            "lastname": "Stephens",
            "middleName": null,
            "preferredName": "Deb",
            "title": "Miss",
            "email": "kallemstevenkohler27@gmail.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "she / her",
            "alert": null,
            "birthdate": "1959-11-24",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430685395",
            "addressL1": "7 Bridges Ave",
            "addressL2": null,
            "addressL3": null,
            "city": "Osborne",
            "state": "SA",
            "postalCode": "5017",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0402196836"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430685395",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0497921033",
            "emergencyContactName": null,
            "emergencyContactRelationship": null,
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-08-17T23:34:21.000Z",
            "updatedAt": "2024-05-03T06:14:10.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2207967,
            "firstname": "Mandy",
            "lastname": "Croft",
            "middleName": null,
            "preferredName": null,
            "title": "Mrs",
            "email": "mandy@audiblesecurity.com.au",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She / Her",
            "alert": null,
            "birthdate": "1961-12-20",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431688608",
            "addressL1": "4/255 Military Rd",
            "addressL2": null,
            "addressL3": null,
            "city": "West Lakes Shore",
            "state": "SA",
            "postalCode": "5020",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0412106697"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431688608",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0412 106 697",
            "emergencyContactName": "Colin Croft",
            "emergencyContactRelationship": "Husband / Plan Nominee",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-09-06T11:59:26.000Z",
            "updatedAt": "2024-04-16T05:45:08.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2207969,
            "firstname": "Scott",
            "lastname": "Hammill",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": "scottedawg42@gmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "He / Him",
            "alert": null,
            "birthdate": "1970-04-05",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431550801",
            "addressL1": "17 Mayfair St",
            "addressL2": null,
            "addressL3": null,
            "city": "Maylands",
            "state": "SA",
            "postalCode": "5069",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0418999823"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431550801",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": null,
            "emergencyContactName": "Kerry Hammill",
            "emergencyContactRelationship": "Father",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-09-06T12:07:25.000Z",
            "updatedAt": "2023-09-08T07:31:42.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2209000,
            "firstname": "Vincenzo",
            "lastname": "Fuda",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": null,
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "He / Him",
            "alert": null,
            "birthdate": "1966-05-05",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431429465",
            "addressL1": "37 Sussex St",
            "addressL2": null,
            "addressL3": null,
            "city": "Glenelg",
            "state": "SA",
            "postalCode": "5045",
            "country": "Australia",
            "phoneNumbers": [],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431429465",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0434 897 928",
            "emergencyContactName": "Belinda Federici",
            "emergencyContactRelationship": "Daughter",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-09-07T23:30:59.000Z",
            "updatedAt": "2023-09-11T04:00:25.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2213935,
            "firstname": "Anthony",
            "lastname": "Smith",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": "jm_smith2016@outlook.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "He / Him",
            "alert": null,
            "birthdate": "2018-04-25",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431576997",
            "addressL1": "18 Elly Dr",
            "addressL2": null,
            "addressL3": null,
            "city": "Munno Para West",
            "state": "SA",
            "postalCode": "5115",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0408520520"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431576997",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0409520520",
            "emergencyContactName": "Jynaya Smith",
            "emergencyContactRelationship": "Mother / Legal Guardian",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-09-13T23:51:30.000Z",
            "updatedAt": "2024-03-27T23:36:23.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2214942,
            "firstname": "Abbey",
            "lastname": "Demasi",
            "middleName": null,
            "preferredName": "Abbey",
            "title": "Miss",
            "email": "nads017@gmail.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She / Her",
            "alert": null,
            "birthdate": "1999-04-05",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430196208",
            "addressL1": "11 Gifford St",
            "addressL2": null,
            "addressL3": null,
            "city": "Torrensville",
            "state": "SA",
            "postalCode": "5031",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0400703099"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430196208",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0497921033",
            "emergencyContactName": "Nadia Demasi",
            "emergencyContactRelationship": "Mother",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-09-15T03:41:34.000Z",
            "updatedAt": "2024-04-25T06:23:47.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2339190,
            "firstname": "Michelle",
            "lastname": "Johnson",
            "middleName": null,
            "preferredName": "Michelle",
            "title": "Mrs",
            "email": "johnsonrobert49@gmail.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She / Her",
            "alert": null,
            "birthdate": "1955-07-23",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430275780",
            "addressL1": "49 Katarama Rd",
            "addressL2": null,
            "addressL3": null,
            "city": "Fairview Park",
            "state": "SA",
            "postalCode": "5126",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0410450434"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430275780",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0410450434",
            "emergencyContactName": "Robert Johnson",
            "emergencyContactRelationship": "Husband/Plan Nominee",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-11-20T04:32:31.000Z",
            "updatedAt": "2024-05-07T07:25:25.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2341209,
            "firstname": "Lily",
            "lastname": "Andriessen",
            "middleName": null,
            "preferredName": null,
            "title": "Miss",
            "email": "amyzanker@gmail.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She / Her",
            "alert": null,
            "birthdate": "2020-09-17",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "432093123",
            "addressL1": "27 Galway Ave",
            "addressL2": null,
            "addressL3": null,
            "city": "Broadview",
            "state": "SA",
            "postalCode": "5083",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0422995833"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "432093123",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0427575301",
            "emergencyContactName": "Sam Andriessen",
            "emergencyContactRelationship": "Father",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-11-22T03:42:46.000Z",
            "updatedAt": "2023-11-22T05:06:06.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2358615,
            "firstname": "Hugo",
            "lastname": "Jeffs",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": "smallwoodamanda@hotmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "He / Him",
            "alert": null,
            "birthdate": "2018-10-30",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431604959",
            "addressL1": "15 Yangoura Ct",
            "addressL2": null,
            "addressL3": null,
            "city": "Surrey Downs",
            "state": "SA",
            "postalCode": "5126",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0433763286"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431604959",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0433763286",
            "emergencyContactName": "Amanda Jeffs",
            "emergencyContactRelationship": "Mother",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-12-08T02:02:19.000Z",
            "updatedAt": "2023-12-13T05:13:20.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2358620,
            "firstname": "Blake",
            "lastname": "Jeffs",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": "smallwoodamanda@hotmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he / him",
            "alert": null,
            "birthdate": "2014-02-11",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430414840",
            "addressL1": "15 Yangoura Ct",
            "addressL2": null,
            "addressL3": null,
            "city": "Surrey Downs",
            "state": "SA",
            "postalCode": "5126",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0433763286"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430414840",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0433763286",
            "emergencyContactName": "Amanda Jeffs",
            "emergencyContactRelationship": "Mother",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-12-08T02:09:03.000Z",
            "updatedAt": "2023-12-13T04:44:23.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2358628,
            "firstname": "Matthew",
            "lastname": "Jeffs",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": "matthian5@gmail.com",
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "he / him",
            "alert": null,
            "birthdate": "1987-05-05",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431875893",
            "addressL1": "15 Yangoura Ct",
            "addressL2": null,
            "addressL3": null,
            "city": "Surrey Downs",
            "state": "SA",
            "postalCode": "5126",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0404408883"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431875893",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0433763286",
            "emergencyContactName": "Amanda Jeffs",
            "emergencyContactRelationship": "Wife",
            "patientTags": [],
            "archived": false,
            "createdAt": "2023-12-08T02:18:16.000Z",
            "updatedAt": "2023-12-11T02:36:47.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2500232,
            "firstname": "Brendon",
            "lastname": "Webb",
            "middleName": null,
            "preferredName": null,
            "title": "Mr",
            "email": null,
            "sex": "Male",
            "genderIdentity": "Man",
            "pronouns": "He / Him",
            "alert": null,
            "birthdate": "1970-06-02",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430369657",
            "addressL1": "67A Galway St",
            "addressL2": null,
            "addressL3": null,
            "city": "Kilburn",
            "state": "SA",
            "postalCode": "5084",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0401602578"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430369657",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0498489879",
            "emergencyContactName": "Robyn Webb",
            "emergencyContactRelationship": "Sister",
            "patientTags": [],
            "archived": false,
            "createdAt": "2024-02-20T00:44:26.000Z",
            "updatedAt": "2024-02-21T23:33:33.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2554004,
            "firstname": "Kerry",
            "lastname": "Roberts",
            "middleName": null,
            "preferredName": null,
            "title": "Ms",
            "email": null,
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She / Her",
            "alert": null,
            "birthdate": "1961-01-17",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430823116",
            "addressL1": "13/6 Reservoir Rd",
            "addressL2": null,
            "addressL3": null,
            "city": "Hope Valley",
            "state": "SA",
            "postalCode": "5090",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0451533061"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430823116",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0450 248 100",
            "emergencyContactName": "Daniel Roberts",
            "emergencyContactRelationship": "Son",
            "patientTags": [],
            "archived": false,
            "createdAt": "2024-03-28T22:13:18.000Z",
            "updatedAt": "2024-03-28T23:21:00.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2562092,
            "firstname": "Angela",
            "lastname": "Koenig",
            "middleName": null,
            "preferredName": null,
            "title": null,
            "email": "angelmariekoenig@gmail.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She / Her",
            "alert": null,
            "birthdate": "1980-08-29",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "430418355",
            "addressL1": "73 McHenry St",
            "addressL2": null,
            "addressL3": null,
            "city": "Murray Bridge",
            "state": "SA",
            "postalCode": "5253",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0412277675"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "430418355",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": null,
            "emergencyContactName": null,
            "emergencyContactRelationship": null,
            "patientTags": [],
            "archived": false,
            "createdAt": "2024-04-05T04:11:24.000Z",
            "updatedAt": "2024-04-05T22:13:50.000Z"
          }
        }
      },
      {
        "json": {
          "links": {},
          "data": {
            "id": 2587684,
            "firstname": "Darlene",
            "lastname": "Ryan",
            "middleName": null,
            "preferredName": null,
            "title": "Ms",
            "email": "darleneryan502@gmail.com",
            "sex": "Female",
            "genderIdentity": "Woman",
            "pronouns": "She/ Her",
            "alert": null,
            "birthdate": "1958-10-12",
            "timezone": "Australia/Adelaide",
            "extraInfo": null,
            "extraBillingInfo": "431270828",
            "addressL1": "5 Myhill Cres",
            "addressL2": null,
            "addressL3": null,
            "city": "Queenstown",
            "state": "SA",
            "postalCode": "5014",
            "country": "Australia",
            "phoneNumbers": [
              {
                "type": "Mobile",
                "code": "+61",
                "phoneNumber": "0411791857"
              }
            ],
            "privacyPolicy": "Accepted",
            "ndisNumber": "431270828",
            "medicareNum": null,
            "irn": null,
            "veteransFileNumber": null,
            "emergencyContactNumber": "0478560031",
            "emergencyContactName": "David Stanton",
            "emergencyContactRelationship": "Son",
            "patientTags": [],
            "archived": false,
            "createdAt": "2024-04-18T04:08:27.000Z",
            "updatedAt": "2024-04-26T21:02:41.000Z"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "6do80UIdKHGFUpAo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-11T09:13:13.000Z",
  "versionId": "a8e39de3-3d2b-4c0f-8b78-28f204bdf043"
}