workflows/Send audio files email.json
{
  "active": true,
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-25T05:51:44.319Z",
  "id": "iEG7OTbdSLSmXwnT",
  "meta": null,
  "name": "Send audio files email",
  "nodes": [
    {
      "parameters": {
        "path": "e1d84893-ebf0-44ba-b634-073d8e87e9a7",
        "formTitle": "Send audio email",
        "formFields": {
          "values": [
            {
              "fieldLabel": "ShopifyOrderNumber",
              "requiredField": true
            },
            {
              "fieldLabel": "Id for link",
              "requiredField": true
            },
            {
              "fieldLabel": "Password"
            }
          ]
        },
        "options": {}
      },
      "id": "eeecd517-85a9-47f0-ba20-36030fd271fa",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        1380,
        580
      ],
      "webhookId": "e1d84893-ebf0-44ba-b634-073d8e87e9a7"
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "f471d93e-03d6-413d-ae2f-0bc690cbac43",
      "name": "Shopify",
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [
        1600,
        580
      ],
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "zKYJyGyRGR4R2Vmm",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "0e1e8b75-a8b6-4132-8849-bf5a6d28eb16",
              "leftValue": "={{ $json.order_number }}",
              "rightValue": "={{ $('n8n Form Trigger').item.json.ShopifyOrderNumber }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "2cc7ed86-75ed-4b7a-8b49-e3e2a2f37f9d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1820,
        580
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Shopify').item.json.contact_email }}",
        "subject": "Your messages are ready! Voice Keepsakes 🎙️",
        "bodyContent": "=<body dir=\"ltr\">\n    <div style=\"background-color: rgb(18, 55, 64); padding-top: 10px; padding-bottom: 10px; border-radius: 8px 8px 0px 0px;\">\n    <h2 style=\"text-align: center; margin: 0px; color: rgb(255, 255, 255);\"><span style=\"font-family: Arial, sans-serif;\">Voice Keepsakes</span></h2>\n    <div style=\"text-align: center;\"><span style=\"font-family: Arial, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\"><img id=\"image_0\" width=\"50\" height=\"50\" style=\"width: 50px; height: 50px;\" src=\"https://i.ibb.co/87kzVTK/test.png\"></span></div>\n    </div>\n    <div style=\"background-color: rgb(255, 255, 255); margin: 20px auto; padding: 20px; border-radius: 8px; max-width: 600px;\">\n    <h3 style=\"text-align: left; text-indent: 0px; font-family: &quot;Times New Roman&quot;; color: rgb(18, 55, 64);\">\n    <span style=\"font-family: Arial, sans-serif;\">Hey {{   $('Shopify').item.json.customer.first_name }}👋,</span></h3>\n    <div style=\"text-align: left; text-indent: 0px; background-color: rgb(255, 255, 255); margin: 0px;\">\n    <span style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: black;\">Your audio recordings are ready to view, simply press the button below and it'll take you to all your guests wonderful\n     messages.</span></div>\n    <div style=\"text-align: left; text-indent: 0px; margin: 0px; font-family: &quot;Times New Roman&quot;; font-size: 12pt; color: rgb(0, 0, 0);\">\n    <span style=\"font-family: Arial, sans-serif;\"><br>\n    </span></div>\n    <p class=\"elementToProof\" style=\"text-align: center; text-indent: 0px; line-height: 1.6; font-family: &quot;Times New Roman&quot;; font-size: 12pt; color: rgb(0, 0, 0);\">\n    <span style=\"font-family: Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(18, 55, 64);\"><a href=\"https://audio.voicekeepsakes.com.au/{{ $('n8n Form Trigger').item.json['Id for link'] }}\" target=\"_blank\" id=\"OWAa5161b79-5006-3fb8-f950-7186ba5700f7\" class=\"button OWAAutoLink\" style=\"color: rgb(255, 255, 255); text-decoration: none; display: inline-block; margin: 0px 0px 15px; padding: 10px 20px; background-color: rgb(18, 55, 64); border-radius: 5px; text-align: left;\">Your\n     Guests Messages</a></span></p>\n    <div class=\"elementToProof\" style=\"text-align: left; text-indent: 0px; background-color: rgb(255, 255, 255); margin: 0px;\">\n    <span style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: black;\">Once you've had a good listen to them all and enjoyed all the laughs and heartfelt messages, you can login using the password:\n    <b>{{ $('n8n Form Trigger').item.json.Password }} </b>This will allow you to update the title, name all of your guests messages, hide any messages you don't want to hear (this won't delete them) and download all the audio files. You can also upload an image, doing this will also allow you to download a video copy of the files as well. Just give the system\n     about 30 minutes to generate the video files once you've uploaded your image 😊</span></div>\n    <div style=\"background-color: rgb(255, 255, 255); margin: 0px;\">\n    <div style=\"text-align: left; text-indent: 0px; background-color: white; margin: 0px;\">\n    <span style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: black;\"><br>\n    </span></div>\n    <div style=\"text-align: left; text-indent: 0px; background-color: white; margin: 0px;\">\n    <span style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: black;\">If you could also leave a review here, on how we did and if everything went smoothly 🙂:\n    <a href=\"https://voicekeepsakes.com.au/?fera=writeReview\" id=\"OWA9ce832b9-13c0-41d7-3177-d9fd3b544bbe\" class=\"OWAAutoLink\">\n    Voice Keepsakes Review Link</a>&nbsp;</span><span style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif, serif, EmojiFont; font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);\">🎙️</span></div>\n    <div style=\"text-align: left; text-indent: 0px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\">\n    <span style=\"color: black;\"><br>\n    We hope you enjoy the recordings; it sounds like the guests had such an amazing time at your Wedding! Thank you for choosing Voice Keepsakes for your special day.</span></div>\n    <div style=\"margin-top: 40px;\">\n    <p style=\"text-align: right; text-indent: 0px; line-height: 0; color: rgb(51, 51, 51);\">\n    <span style=\"font-family: Arial, sans-serif; font-size: 11pt;\">Kind regards,</span></p>\n    <p style=\"text-align: right; text-indent: 0px; line-height: 0; color: rgb(51, 51, 51);\">\n    <div style=\"text-align: right; text-indent: 0px;\"><span style=\"font-family: Arial, sans-serif; font-size: 11pt; color: rgb(51, 51, 51);\">Voice Keepsakes</span></div>\n    </div>\n    </div>\n    <span style=\"font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri, Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0);\"><br>\n    </span></div>   \n    </body>  ",
        "additionalFields": {
          "bccRecipients": "wade@voicekeepsakes.com.au",
          "bodyContentType": "html"
        }
      },
      "id": "69b3eef8-20fe-4955-80bb-e37a9cb2e29b",
      "name": "Microsoft Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2040,
        580
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "kk1sPj8USL1RL0GY",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {
    "n8n Form Trigger": [
      {
        "json": {
          "ShopifyOrderNumber": "1020",
          "Id for link": "123",
          "Password": "123",
          "submittedAt": "2024-04-25T05:54:20.760Z",
          "formMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-04-25T06:06:54.000Z",
  "versionId": "a684c482-6a51-4e2d-9793-c8dbb8f5aac8"
}